<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :clinic %><br />
    <%= f.collection_select(:clinic_id, Clinic.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :clinician %><br />
    <%= f.collection_select(:clinician_id, Clinician.all, :id, :family_name)  %>
  </div>

  <div class="field">
    <%= f.label :Visit_details %><br />
    <%= f.text_field :name  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
