<h1>Listing visits</h1>


<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Clinic</th>
    <th>Visitor</th>
    <th></th>
  </tr>

<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.start_at %></td>
    <td><%= visit.end_at %></td>
    <td><%= Clinic.find(visit.clinic_id).name %></td>
    <td><%= Clinician.find(visit.clinician_id).family_name %></td>

    <td><%= link_to 'Show', visit %></td>
    <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
    <td><%= link_to 'Destroy', visit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visit', new_visit_path %>

