<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @visit.start_at %>
</p>

<p>
  <b>End date:</b>
  <%= @visit.end_at %>
</p>

<p>
  <b>Clinic:</b>
  <%= Clinic.find(@visit.clinic_id).name %>
</p>

<p>
  <b>Clinician:</b>
  <%= Clinician.find(@visit.clinician_id).family_name %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
