<%= form_for(@clinician) do |f| %>
  <% if @clinician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinician.errors.count, "error") %> prohibited this clinician from being saved:</h2>

      <ul>
      <% @clinician.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :given_name %><br />
    <%= f.text_field :given_name %>
  </div>
  <div class="field">
    <%= f.label :family_name %><br />
    <%= f.text_field :family_name %>
  </div>
    <div class="field">
    <%= f.label :specialty %><br />
    <%= f.text_field :specialty %>
  </div>
    <div class="field">
    <%= f.label :display_colour %><br />
    <%= f.text_field :display_colour %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.telephone_field :fax %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
