<h1>Listing clinicians</h1>

<table>
  <tr>
    <th>Given name</th>
    <th>Family name</th>
    <th>Address</th>
    <th>Specialty</th>
    <th>Colour</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clinicians.each do |clinician| %>
  <tr>
    <td><%= clinician.given_name %></td>
    <td><%= clinician.family_name %></td>
    <td><%= clinician.address %></td>
    <td><%= clinician.specialty %></td>
    <td><%= clinician.display_colour %></td>
    <td><%= clinician.phone %></td>
    <td><%= clinician.fax %></td>
    <td><%= clinician.email %></td>
    <td><%= link_to 'Show', clinician %></td>
    <td><%= link_to 'Edit', edit_clinician_path(clinician) %></td>
    <td><%= link_to 'Destroy', clinician, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clinician', new_clinician_path %>
