<p id="notice"><%= notice %></p>

<p>
  <b>Given name:</b>
  <%= @clinician.given_name %>
</p>

<p>
  <b>Family name:</b>
  <%= @clinician.family_name %>
</p>

<p>
  <b>Address:</b>
  <%= @clinician.address %>
</p>

<p>
  <b>Specialty:</b>
  <%= @clinician.specialty %>
</p>

<p>
  <b>Colour:</b>
  <%= @clinician.display_colour %>
</p>

<p>
  <b>Phone:</b>
  <%= @clinician.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @clinician.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @clinician.email %>
</p>


<%= link_to 'Edit', edit_clinician_path(@clinician) %> |
<%= link_to 'Back', clinicians_path %>
