
<h1>Visiting Clinician <br><br>
Scheduling Application </h1>

<%= link_to "Edit Clinic ", clinics_path %>
<br>

<%= link_to "Edit Clinician ", clinicians_path %>
<br>

<%= link_to "Edit Visits ", visits_path %>
<br>

<%= link_to "Show Calendar", :action => 'calendar' %>
<br>
