<!DOCTYPE html>
<html>

<head>

<title>Gumbulanya</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "/public/stylesheets/event_calendar.css" %>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "/public/javascripts/event_calendar.js" %>
  <%= csrf_meta_tags %>

</head>

<body style="background: #EEEEEE;">

<%= yield %>

</body>
</html>


